<nav class="nav">
    <a href="#">마이페이지</a>
    <ul>
        <li><a href="/search">검색</a></li>
        <li><a href="/curriculum">커리큘럼 관리</a></li>
        <li><a href="/progress">진행도</a></li>
    </ul>
</nav>