<section id="search-bar">
    <form action="#" method="get" autocomplete="on" name="book_name">
        <input type="text" placeholder="검색할 책" id="book-search-bar">
    </form>
    <button type="button" id="book-search-btn">검색</button>
</section>