<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>welcome</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header id="main-header"></header>
    <section id="content-wrap">
        <button id="left-btn" class="next-btn"><a><</a></button>
        <section id="banner-list">
            <article class="banner">
                <h1>도서관리 및 커리큘럼 관리</h1>

            </article>
            <article class="banner">
                <h1>도서 관리</h1>

            </article>
            <article class="banner">
                <h1>커리큘럼 관리</h1>

            </article>
            <article class="banner">
                <h1>진행바</h1>
            </article>
            <article class="banner">
                <div>회원가입은  <a href="#">여기</a></div>
                <div>로그인은    <a href="#">여기</a></div>
            </article>
        </section>
        <button id="right-btn" class="next-btn"><a>></a></button>
        
    </section>
    <footer></footer>
    <script type="text/javascript" src="index_banner.js"></script>
</body>
</html>