<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>welcome</title>
</head>
<body>
<div>
    <form method="get" action="/">
        <div>
            <input type="text" id="id" placeholder="ID">
        </div>
        <div>
            <input type="text" id="password" placeholder="PASSWORD">
        </div>
    </form>
    <button type="button" id="btn-login">로그인</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>